{% extends 'base.html' %} {% block content %}
<!-- Unique Content for the page goes between these tags -->

<body>
    <article>
        <h1>Home Page</h1>
        <section>
            <div class="hpimg-1"></div>
        </section>
        <section>
            <div class="box-1">
                <div class="spring-heading text-center">
                    <h2>Spring Activities</h2>
                </div>
                <div class="spring-text text-center">
                    <p>As parents we always try to find a way to keep our children entertained during the spring period. Sometimes money does not stretch far enough to cover certain expenses during the spring period espcially during the Easter break. But
                        here are some Ideas to keep them entertained.

                        <ul class="text-left">
                            <li>Make a spring mural on the windows</li>
                            <li>Make a bird's nest from wool/ yarn and glue </li>
                            <li>Make a tissue mache Easter Egg</li>
                            <li>Create a Easter Bunny Treat Cup</li>
                        </ul>




                    </p>
                    <p>Remember this are just general Ideas for, therefore we should try to cater to Children and their age to try and make it as fun as possible.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="hpimg-2"></div>
        </section>
        <section>
            <div class="box-2">
                <div class="chblossomsfest-heading text-center">
                    <h2>Cherry Blossom Festivals</h2>
                </div>
                <div class="chblossomsfest-text">
                    <p>
                        One of the biggest events in Japan is the cherry blossom festival! Each year, people gather up to have a good time with friends around the cherry blossoms. Therefore, it attracts lots of tourism in the beginning of spring, as people can enjoy the beauty
                        of nature, in a country with fascinating history and culture. A famous park in the Ueno Park, which has around 800 trees, which can be enjoyed in the event called "Ueno Sakura Matsuri". Enjoy scrumptious food, drinks, music events
                        and markets! Here is a list of the best cherry blossom festivals in Japan:
                    </p>
                    <ul class="text-left">
                        <li>
                            Meguro River (Tokyo)
                        </li>
                        <li>
                            Takada Castle (Takada)
                        </li>
                        <li>
                            Fuji Kawaguchiko
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section>
            <div class="hpimg-3"></div>
        </section>

    </article>
</body>




</html>



{% endblock %}
